/*
Google Classroom Dark Theme
Since there was no good dark theme for Google Classroom that updates frequently, and
the Dark Reader extension didn't work well, I decided to create my own dark theme for
Google Classroom.

3.0.0.0 (2025-6-7):
- Complete rewrite for Google Material redesign of Google Classroom
  - Add backwards compatibility for old design
- Change :root variables instead of directly styling classes whenever possible to future-proof theme
- Use new colors to fit new Google Classroom design
- Fix more educator-specific elements (only tested in old UI)
*/
:root {
  --gm3-sys-color-surface: #2c2c2c;
  --gm3-sys-color-surface-container-low: #111;
  --gm3-sys-color-on-surface-variant: #e0e0e0;
  --gm3-sys-color-secondary-container: #414141;
  --gm3-sys-color-on-secondary-container: #fff;
  --gm3-focus-ring-inward-color: #606060;
  --gm3-sys-color-on-surface: #fff;
  --gm3-button-filled-disabled-container-color: #363636;
  --gm3-button-filled-disabled-label-text-color: #1f1f1f;
  --gm3-icon-button-standard-disabled-icon-color: #363636;
  --gm3-button-text-disabled-label-text-color: #474747;
  --gm3-menu-container-color: #1f1f1f;
  --gm3-card-outlined-outline-color: #4d4d4d;
  --gm3-card-outlined-hover-outline-color: #4d4d4d;
  --gm3-text-field-filled-container-color: #303030;
  --gm3-text-field-filled-hover-state-layer-color: #141414;
}
.O68mGe-xl07Ob {
  --gm3-list-divider-color: #4d4d4d;
}
.S1oK3c {
  --gm3-icon-button-standard-unselected-focus-icon-color: #fff;
  --gm3-icon-button-standard-unselected-hover-icon-color: #fff;
  --gm3-icon-button-standard-unselected-icon-icon-color: #fff;
  --gm3-icon-button-standard-unselected-pressed-icon-color: #fff;
}
.rHGeGc-YPmvEd {
  --gm3-menu-container-color: #1f1f1f;
  --gm3-list-list-item-selected-container-color: #2e2e2e;
}
.qdOxv-fmcmS-yrriRe-OWXEXe-INsAgc:not(.qdOxv-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.qdOxv-fmcmS-yrriRe-OWXEXe-XpnDCe):hover {
  --gm3-notched-outline-border-color: #888;
}
body {
  background-color: #2c2c2c;
  color: #e0e0e0;
}
.mwJvDe .KEDCCd {
  background-color: #2c2c2c;
  border-color: #4d4d4d;
}
.Aopndd,
.d4Fe0d {
  background-color: #252525;
  border-color: #4d4d4d;
}
.SZ0kZe,
.s2g3Xd,
.nl5VRd,
.ar1wE .eqqrO,
.ySjuvd .eqqrO,
.q1Kmyc,
.svNSpd,
.Niache,
.VKRoqe,
.ycbm1d,
.d6CWTd,
.MHxtic:not(:last-child),
.LKqFXc,
.LDr2ne,
.qj5L0,
.Iwp0Ue:not(:first-child),
.lXuxY .u73Apc,
.O9YpHb {
  border-color: #4d4d4d;
}
.asQXV,
.EZrbnd,
.B7SYid,
.A6dC2c,
.saYe1e,
.apFsO.onkcGd,
.apFsO.onkcGd:visited,
.z3vRcc,
.tDxNLe,
.WOPwXe,
.cC1eCc .VfPpkd-k2Wrsb,
.ksaOtd {
  color: #e0e0e0;
}
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.h7Ww0,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .h7Ww0,
.xWw7yd:hover.rXdid,
.xWw7yd:hover.h7Ww0,
.xWw7yd:hover .rXdid,
.xWw7yd:hover .h7Ww0,
.Iwp0Ue:not(.xp2dJ):focus-within.JiTjnd,
.Iwp0Ue:not(.xp2dJ):focus-within.h7Ww0,
.Iwp0Ue:not(.xp2dJ) :focus-within.JiTjnd,
.Iwp0Ue:not(.xp2dJ) :focus-within.h7Ww0,
.xWw7yd:focus-within.JiTjnd,
.xWw7yd:focus-within.h7Ww0,
.xWw7yd :focus-within.JiTjnd,
.xWw7yd :focus-within.h7Ww0 {
  background-color: #202020;
}
.YLFC3e:hover,
.YLFC3e:focus,
.YLFC3e:focus-within {
  background-color: #343434;
}
.IzVHde {
  background-color: #252525;
}
.sdDCme,
.oBSRLe,
.zuzKle.xVPuB,
.zuzKle.vnnr5e,
.tLDEHd,
.K6Ovqd,
.cC1eCc .VfPpkd-cnG4Wd,
.Evt7cb,
.Evt7cb:visited,
.asQXV-FGzYL,
.i9glDf {
  color: #cfcfcf;
}
.cSyPgb,
.dDKhVc,
.udxSmc,
.zuV2Cf {
  color: #a6a6a6;
}
.TisIWb .kKn9Nc::before,
.cC1eCc .VfPpkd-P5QLlc {
  background-color: #252525;
}
.Hwv4mb > :is(.onkcGd:hover,
.onkcGd:focus,
.Vx8Sxd:hover,
.Vx8Sxd:focus):not(.sXIFDb:last-child) {
  text-decoration: none;
}
.GWZ7yf,
.rZXyy.YwNp1,
.rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):hover,
.rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):focus,
.lXuxY,
.pO6AMc,
.PqkECe {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), 0 2px 6px 2px rgba(0,0,0,0.25);
  background-color: #252525;
  border: 1px solid #4d4d4d;
}
.MHxtic:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), 0 2px 6px 2px rgba(0,0,0,0.15);
}
.OlXwxf + .lXuxY,
.lXuxY + .OlXwxf,
.OlXwxf.OlXwxf:hover,
.OlXwxf:hover + .OlXwxf {
  border-top: 1px solid #4d4d4d;
}
.lbWVCe {
  background-color: #1f1f1f;
}
.lbWVCe .h0pqq {
  background-color: #353535;
}
.LdMiEd {
  background-color: #1c1c24;
}
.qk0lee:focus::after {
  background-color: #2c2c2c;
}
.hgjBDc {
  background-color: #252525;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e) :is(.I9OJHe,
.CIy9F),
.vnnr5e .I9OJHe,
.vnnr5e .CIy9F {
  background-color: #1c1c1c;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e):hover :is(.I9OJHe,
.CIy9F) {
  background-color: #202020;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e):hover .I9OJHe.vTcY1d .snByac {
  color: #a6a6a6;
}
:is(.xVPuB,
.vnnr5e,
.XpxsVb) .Aworge {
  color: #a6a6a6;
}
.EN2Rfc:not(.RDPZE) .XTO5bf:hover,
.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
  color: #fff;
}
.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
  background-color: #3e3e3e;
}
.N6nSod {
  background-color: rgba(44,44,44,0.612);
}
.gHz6xd.rZXyy:not(.kKn9Nc):not(.u0dx8e):hover {
  margin: 0 1.5rem 1.5rem 0;
}
.w482V-O1htCb:hover .w482V-CZC2Ab-i5vt6e {
  --gm3-sys-color-on-surface: #8d8d8d;
}
.joJglb,
.mwJvDe .KEDCCd,
.ETRkCe,
.yWU57c.AjWMy,
.yWU57c.AjWMy .rknsod {
  background-color: #202124;
  border-color: #444746;
}
.ZNE4y,
.Rj2Mlf:not(:disabled),
.E5f6Vd,
.vjb26b,
.gpeXDe,
.meyvr,
.Lp3y7d,
.LqHDgc {
  border-color: #444746;
}
.kYtXye.bFjUmb-Ysl7Fe,
.kYtXye .bFjUmb-Ysl7Fe,
.UvHKof.bFjUmb-Ysl7Fe,
.UvHKof .bFjUmb-Ysl7Fe,
:is(.Ag4wUb,
.ee1HBc,
.AjWMy) .bFjUmb-Ysl7Fe,
.hN1OOc.eumXzf:hover,
.hN1OOc.eumXzf:focus {
  background-color: #1a1a1a;
}
.z80M1.FwR7Pc {
  background-color: #202020;
}
.z3vRcc-J3yWx,
.A6dC2c-J3yWx,
.rpo4wf-J3yWx,
.wZTANe .J1raN,
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd,
.yPtghd,
.xlHPle .VfPpkd-fmcmS-yrriRe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd,
.lziZub,
.lziZub:visited {
  color: #e8e5e3;
}
.wZTANe .J1raN:hover,
.xlHPle .VfPpkd-fmcmS-yrriRe:hover:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NLUYnc-V67aGc {
  color: #999897;
}
.Rj2Mlf:not(:disabled):hover {
  border-color: #3b3b3b;
}
.VfPpkd-rymPhb-clz4Ic {
  background-color: #3b3b3b;
}
.onkcGd,
.onkcGd:visited,
.WPhuJf,
.WPhuJf:visited,
.dDKhVc,
.asQXV-FGzYL,
.WmnPA:hover:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NLUYnc-V67aGc,
.ViCi4 {
  color: #b8b3ad;
}
.svNSpd svg {
  fill: #b8b3ad;
}
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me),
.xlHPle .VfPpkd-fmcmS-yrriRe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me),
.V8apv {
  background-color: #303030;
}
.fyExH,
.cLpBac,
.JPdR6b {
  background-color: #191919;
}
.FAVvUd .nIu6nb {
  filter: invert(1);
}
.QV10Af {
  background-color: transparent;
  border-color: #3b3b3b;
}
