/*
Google Classroom Dark Theme
Since there was no good dark theme for Google Classroom that updates frequently, and
the Dark Reader extension didn't work well, I decided to create my own dark theme for
Google Classroom.

3.4.1 (2025-10-9):
- Fix rubrics
*/
:root {
  --gm3-sys-color-surface: #2c2c2c;
  --gm3-sys-color-surface-container-low: #111112;
  --gm3-sys-color-on-surface-variant: #e0e0e0;
  --gm3-sys-color-secondary-container: #414141;
  --gm3-sys-color-on-secondary-container: #fff;
  --gm3-focus-ring-inward-color: #606060;
  --gm3-sys-color-on-surface: #fff;
  --gm3-button-filled-disabled-container-color: #363636;
  --gm3-button-filled-disabled-label-text-color: #797979;
  --gm3-icon-button-standard-disabled-icon-color: #535353;
  --gm3-button-text-disabled-label-text-color: #474747;
  --gm3-menu-container-color: #1f1f1f;
  --gm3-card-outlined-outline-color: #4d4d4d;
  --gm3-card-outlined-hover-outline-color: #4d4d4d;
  --gm3-text-field-filled-container-color: #303030;
  --gm3-text-field-filled-hover-state-layer-color: #141414;
  --gm3-autocomplete-filled-menu-container-color: #191919;
  --gm3-select-filled-text-field-container-color: #1c1c1c;
  --gm3-datepicker-container-color: #303030;
  --gm3-datepicker-date-unselected-outside-month-label-text-color: #747474;
  --gm3-sys-color-outline-variant: #4d4d4d;
  --gm3-sys-color-surface-container-high: #141414;
  --gm3-sys-color-primary-container: #404040;
  --gm3-sys-color-primary: #407de2;
}
.O68mGe-xl07Ob {
  --gm3-list-divider-color: #4d4d4d;
}
.S1oK3c {
  --gm3-icon-button-standard-unselected-focus-icon-color: #fff;
  --gm3-icon-button-standard-unselected-hover-icon-color: #fff;
  --gm3-icon-button-standard-unselected-icon-icon-color: #fff;
  --gm3-icon-button-standard-unselected-pressed-icon-color: #fff;
}
.rHGeGc-YPmvEd {
  --gm3-menu-container-color: #1f1f1f;
  --gm3-list-list-item-selected-container-color: #2e2e2e;
}
.qdOxv-fmcmS-yrriRe-OWXEXe-INsAgc:not(.qdOxv-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.qdOxv-fmcmS-yrriRe-OWXEXe-XpnDCe):hover {
  --gm3-notched-outline-border-color: #888;
}
.w482V-O1htCb:hover .w482V-CZC2Ab-i5vt6e {
  --gm3-sys-color-on-surface: #8d8d8d;
}
.RuSUmb {
  --pkw-background: #252525;
}
body,
.V8apv {
  background-color: #2c2c2c;
  color: #e0e0e0;
}
.mwJvDe .KEDCCd,
.DC55n td {
  background-color: #2c2c2c;
  border-color: #4d4d4d;
}
.Aopndd,
.d4Fe0d {
  background-color: #252525;
  border-color: #4d4d4d;
}
.TgJ2ub .IzVHde,
.Iwp0Ue:not(.xp2dJ):focus-within.JiTjnd,
.Iwp0Ue:not(.xp2dJ):focus-within.h7Ww0,
.Iwp0Ue:not(.xp2dJ) :focus-within.JiTjnd,
.Iwp0Ue:not(.xp2dJ) :focus-within.h7Ww0,
.xWw7yd:focus-within.JiTjnd,
.xWw7yd:focus-within.h7Ww0,
.xWw7yd :focus-within.JiTjnd,
.xWw7yd :focus-within.h7Ww0 {
  background-color: #2c2c2c;
}
.SZ0kZe,
.s2g3Xd,
.nl5VRd,
.ar1wE .eqqrO,
.ySjuvd .eqqrO,
.SUV7We,
.q1Kmyc,
.svNSpd,
.Niache,
.VKRoqe,
.ycbm1d,
.d6CWTd,
.MHxtic:not(:last-child),
.LKqFXc,
.LDr2ne,
.qj5L0,
.Iwp0Ue:not(:first-child),
.lXuxY .u73Apc,
.O9YpHb,
.McVlQd::after,
.ycJpzc::after,
.hja3X,
.ECK80e,
.RcHwO,
.RIDjNe,
.TgJ2ub .iy4mWc .COwiKd,
.a4YS1c,
.hYt5f.FRDm8d :is(.WkZsyc,
.Kql9ed):not(:last-child),
.ft5Sbf,
.OK63Pb:not(:last-child),
.QV10Af,
.bNkTzb,
.CobWe,
.TgJ2ub .svNSpd,
.BQ5ILd,
.pvb7Pc,
.cmTiyd,
.C4yF5e {
  border-color: #4d4d4d;
}
.asQXV,
.TgJ2ub .zuV2Cf,
.EZrbnd,
.B7SYid,
.A6dC2c,
.saYe1e,
.TgJ2ub .ARTZne.onkcGd,
.TgJ2ub .ARTZne.onkcGd:visited,
.z3vRcc,
.tDxNLe,
.WOPwXe,
.cC1eCc .VfPpkd-k2Wrsb,
.ksaOtd,
.Eajscb .vT1Gyc.N4XV7d,
.nk37z,
.lziZub,
.lziZub:visited,
.slDfNd,
.slDfNd:visited,
.U0QIdc,
.U0QIdc:visited,
.yPtghd,
.vaUyHb,
.HZ3kWc,
.WOPwXe-Wvd9Cc,
.jlfrG {
  color: #e0e0e0;
}
.YLFC3e:hover,
.YLFC3e:focus,
.YLFC3e:focus-within,
.TJtJXb:hover td,
.tYQn5c:hover td,
.DC55n:hover td,
.aSjeL.aSjeL td,
.thP79c:hover {
  background-color: #343434;
}
.TgJ2ub .xo2x2e,
.TgJ2ub .COwiKd,
.zuzKle.xVPuB,
.zuzKle.vnnr5e,
.tLDEHd,
.K6Ovqd,
.cC1eCc .VfPpkd-cnG4Wd,
.Evt7cb,
.Evt7cb:visited,
.asQXV-FGzYL,
.i9glDf,
.s7bwNb,
.iLjzDc,
.TgJ2ub .nZCyt,
.ViCi4,
.YrFhrf,
.tLDEHd-Wvd9Cc,
.FMzRdf {
  color: #cfcfcf;
}
.cSyPgb,
.dDKhVc,
.udxSmc,
.zuV2Cf,
.IMvYId,
.IMvYId:visited,
.TgJ2ub .wCDkmf,
.CxlSNe,
.RMrItf,
.cC1eCc .VfPpkd-zMU9ub {
  color: #a6a6a6;
}
.TisIWb .kKn9Nc::before,
.cC1eCc .VfPpkd-P5QLlc,
.IzVHde,
.QV10Af {
  background-color: #252525;
}
.TdC1bb,
.y2d25 {
  background-color: #1b1b1b;
}
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.h7Ww0,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .h7Ww0,
.xWw7yd:hover.rXdid,
.xWw7yd:hover.h7Ww0,
.xWw7yd:hover .rXdid,
.xWw7yd:hover .h7Ww0 {
  background-color: #202020;
}
.OK1tJe {
  background-color: #383838;
}
.R5iLrf.u3bW4e,
.R5iLrf.yXgmRe:hover {
  background-color: #343434;
}
.cLpBac {
  background-color: #1c1c1c;
}
.JPdR6b {
  background-color: #2c2c2c;
}
.z80M1.FwR7Pc {
  background-color: #363636;
}
.ncFHed {
  background-color: #252525;
}
.MocG8c.RDPZE {
  color: #828282;
}
.jlfrG::before,
.jlfrG::after,
.jlfrG.u3bW4e::before,
.jlfrG.u3bW4e::after,
.jlfrG.yXgmRe:hover::after {
  background: none;
}
.TgJ2ub .VfoFfe {
  border-color: transparent;
}
.Hwv4mb > :is(.onkcGd:hover,
.onkcGd:focus,
.Vx8Sxd:hover,
.Vx8Sxd:focus):not(.sXIFDb:last-child) {
  text-decoration: none;
}
.GWZ7yf,
.rZXyy.YwNp1,
.rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):hover,
.rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):focus,
.lXuxY,
.pO6AMc,
.PqkECe {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), 0 2px 6px 2px rgba(0,0,0,0.25);
  background-color: #252525;
  border: 1px solid #4d4d4d;
}
.MHxtic:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5), 0 2px 6px 2px rgba(0,0,0,0.15);
}
.lXuxY,
.pO6AMc,
.PqkECe {
  border-top: 1px solid #4d4d4d !important;
}
.lbWVCe {
  background-color: #1f1f1f;
}
.lbWVCe .h0pqq {
  background-color: #353535;
}
.LdMiEd {
  background-color: #1c1c24;
}
.qk0lee:focus::after {
  background-color: #2c2c2c;
}
.hgjBDc {
  background-color: #252525;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e) :is(.I9OJHe,
.CIy9F),
.vnnr5e .I9OJHe,
.vnnr5e .CIy9F,
.ghqpJb .i2Zkcd:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) {
  background-color: #1c1c1c;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e):hover :is(.I9OJHe,
.CIy9F) {
  background-color: #202020;
}
.vnnr5e:not(.RDPZE):not(.u3bW4e):hover .I9OJHe.vTcY1d .snByac {
  color: #a6a6a6;
}
:is(.xVPuB,
.vnnr5e,
.XpxsVb) .Aworge {
  color: #a6a6a6;
}
.EN2Rfc:not(.RDPZE) .XTO5bf:hover,
.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
  color: #fff;
}
.EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
  background-color: #3e3e3e;
}
.N6nSod {
  background-color: #2c2c2c;
}
