/*
Google Classroom Dark Theme
The old code had a lot of unneccesary stuff, was old, and broke with a UI update,
so I rewrote the entire theme from scratch. This version has more customizations.

Since there was no good dark theme for Google Classroom and the Dark Reader extension
didn't work perfectly, I decided to create my own dark theme for Google Classroom.

2.1.1.0 (2024-10-8):
- Fix unstyled border in sidebar
- Fix help button in bottom right corner
- Remove 10th anniversary logo fix (logo no longer exists)
- Fix contrast for future dates in Calendar
*/
body {
  background-color: #111;
  color: #e8e5e3;
}
.VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-IhFlZd,
.VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-f7MjDc {
  color: #e8e5e3;
}
.I7OXgf {
  background-color: #111;
}
.joJglb,
.mwJvDe .KEDCCd,
.Tabkde,
.Tabkde .OX4Vcb,
.ETRkCe,
.lXuxY .u73Apc {
  background-color: #111;
  border-color: #1f1f1f;
}
.WMQb5e .oBSRLe,
.s2g3Xd,
.q1Kmyc,
.SZ0kZe,
.gKkZCe,
.E5f6Vd,
.svNSpd,
.Rj2Mlf:not(:disabled),
.ar1wE .eqqrO,
.ySjuvd .eqqrO,
.AeAAkf,
.DC55n td,
.a4YS1c,
.hYt5f.FRDm8d .WkZsyc:not(:last-child),
.hYt5f.FRDm8d .Kql9ed:not(:last-child),
.geqPvd .VfPpkd-WLXbod,
.geqPvd,
.tUJKGd:not(:first-child),
.d6CWTd,
.ycbm1d,
.LDr2ne,
.O9YpHb,
.Iwp0Ue:not(:first-child) {
  border-color: #1f1f1f;
}
.xVPuB .mIZh1c,
.vnnr5e .mIZh1c,
.oQ5Hqe,
.VfPpkd-rymPhb-clz4Ic {
  background-color: #3b3b3b;
}
.MHxtic:not(:last-child),
.LKqFXc,
.Rj2Mlf:not(:disabled):hover,
.uO32ac,
.ypv4re {
  border-color: #3b3b3b;
}
.dDKhVc,
.WdYux,
.tLDEHd,
.ViCi4,
.Erb9le:not(.RDPZE) .qmMNRc:hover,
.Erb9le:not(.RDPZE) .qmMNRc.y7OZL,
.ReCbLb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-uusGie-fmcmS,
.FUvKMe,
.cSyPgb,
.lziZub,
.lziZub:visited,
.s8kOBc .VfPpkd-rymPhb-fpDzbe-fmcmS,
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd,
.onkcGd,
.onkcGd:visited,
.WPhuJf,
.WPhuJf:visited,
.OGhwGf,
.OGhwGf:visited {
  color: #b8b3ad;
}
.EZrbnd,
.asQXV,
.rpo4wf-J3yWx,
.wZTANe .J1raN,
.A6dC2c-J3yWx,
.z3vRcc-J3yWx,
.z3vRcc,
.tDxNLe,
.WOPwXe,
.A6dC2c,
.saYe1e,
.cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd,
.Evt7cb,
.Evt7cb:visited,
.nk37z,
.geqPvd .VfPpkd-Rj7Y9b,
.q6oraf .VfPpkd-StrnGf-rymPhb,
.z80M1,
.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd .VfPpkd-rymPhb-fpDzbe-fmcmS,
.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b .VfPpkd-rymPhb-fpDzbe-fmcmS,
.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb,
.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb,
.Vx8Sxd,
.Vx8Sxd:visited,
.Vx8Sxd:hover,
.Vx8Sxd:focus,
.apFsO.onkcGd,
.apFsO.onkcGd:visited,
.Eajscb .vT1Gyc.N4XV7d {
  color: #e8e5e3;
}
.wZTANe .J1raN:hover,
.LjDxcd:hover:not(:disabled),
.LjDxcd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled),
.LjDxcd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled),
.LjDxcd:active:not(:disabled),
.WmnPA:hover:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NLUYnc-V67aGc,
.xlHPle .VfPpkd-fmcmS-yrriRe:hover:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NLUYnc-V67aGc {
  color: #999897;
}
.K6Ovqd,
.sdDCme,
.oBSRLe,
.IMvYId,
.IMvYId:visited,
.LjDxcd:not(:disabled) {
  color: rgba(255,255,255,0.549);
}
.hgjBDc,
.DC55n td,
.IzVHde {
  background-color: #111;
}
.d4Fe0d,
.Aopndd,
.ZNE4y,
.RIDjNe {
  background-color: #111;
  border-color: #1f1f1f;
}
.vnnr5e .I9OJHe,
.vnnr5e .CIy9F,
.fWf7qe .Yalane,
.aSjeL.aSjeL td,
.xlHPle .VfPpkd-fmcmS-yrriRe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me),
.V8apv,
.WufxEd .ynt9Dc .VfPpkd-WLXbod,
.WufxEd .ynt9Dc,
.VfPpkd-xl07Ob-XxIAqe,
.hVNH5c .K0NPx,
.s8kOBc .VfPpkd-rymPhb-ibnC6b.VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd,
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me),
.lbWVCe {
  background-color: #141414;
}
.vnnr5e:not(.RDPZE):hover .I9OJHe,
.vnnr5e:not(.RDPZE):hover .CIy9F,
.fWf7qe:not(.RDPZE):hover .Yalane,
.TisIWb .kKn9Nc:before,
.z80M1.FwR7Pc,
.Mupove .tUJKGd:not(.xp2dJ):focus-within.boxOzd,
.Mupove .tUJKGd:not(.xp2dJ):focus-within.idtp4e,
.Mupove .tUJKGd:not(.xp2dJ) :focus-within.boxOzd,
.Mupove .tUJKGd:not(.xp2dJ) :focus-within.idtp4e,
.Mupove .ZoT1D:focus-within.boxOzd,
.Mupove .ZoT1D:focus-within.idtp4e,
.Mupove .ZoT1D :focus-within.boxOzd,
.Mupove .ZoT1D :focus-within.idtp4e {
  background-color: #1a1a1a;
}
.WmnPA.VfPpkd-fmcmS-yrriRe-OWXEXe-XpnDCe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-NLUYnc-V67aGc {
  color: #1967d2;
}
.ZoT1D:hover.idtp4e,
.UISY8d-Ysl7Fe:hover,
.P3W0Dd-Ysl7Fe:focus,
.maXJsd:focus .P3W0Dd-Ysl7Fe,
.bFjUmb-Ysl7Fe,
.CNpREd.bFjUmb-Ysl7Fe,
.CNpREd .bFjUmb-Ysl7Fe,
.qk0lee:focus:after,
.TJtJXb:hover td,
.tYQn5c:hover td,
.DC55n:hover td,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.h7Ww0,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .rXdid,
.Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .h7Ww0,
.xWw7yd:hover.rXdid,
.xWw7yd:hover.h7Ww0,
.xWw7yd:hover .rXdid,
.xWw7yd:hover .h7Ww0 {
  background-color: #1a1a1a !important;
}
.Iwp0Ue:not(.xp2dJ):not(.rZXyy) .h7Ww0 {
  background-color: #111 !important;
}
.z80M1.qs41qe>.aBBjbd {
  background-image: radial-gradient(circle farthest-side, #424242, #424242 80%, rgba(189,189,189,0) 100%);
}
.GQLaCd:not(:empty),
.fyExH {
  background-color: #141414;
}
.u73Apc:not(.lXuxY .u73Apc) {
  border-bottom: none;
}
.VfoFfe {
  border-top: none;
}
.qj5L0 {
  border-color: #3b3b3b;
}
.lbWVCe .h0pqq {
  background-color: #222;
}
.N6nSod {
  background: none;
}
.N6nSod:hover {
  background-color: rgba(255,255,255,0.075);
}
